<!doctype html>
<html ng-app="meetingApp">
	<head>
		<title>Add Meeting</title>
        <meta charset="utf-8" />
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/meeting.js"></script>
		<script type="text/javascript" src="js/member.js"></script>
		<script type="text/javascript" src="js/help.js"></script>
        <script type="text/javascript" src="js/help-directives.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/select2.min.css">
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="css/tvg.css">
        <script src="js/bootstrap.min.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/bootstrap-datetimepicker.min.js"></script>
        <script src="js/locales/bootstrap-datetimepicker.de.js"></script>
        <script src="js/typeahead.jquery.min.js"></script>
        <script src="js/ui-bootstrap-custom-0.12.1.min.js"></script>
        <script src="js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
	</head>

	<body ng-app="meetingApp">
    <nav class="navbar navbar-inverse">
        <p class="navbar-text">Neue Sitzung</p>
    </nav>
	<div class="container">
        <form method="post" id="meetingForm" ng-controller="MeetingController as meetingCtrl" novalidate>
            <input type="hidden" id="memberId" name="memberId" />
            <label for="name">Betreff:</label>
            <input id="name" class="form-control" type="text" required="required" placeholder="Name" ng-model="meetingCtrl.meeting.subject"/>
            <member-list my-model="meetingCtrl.meeting.members"></member-list>
            <datetime-picker my-placeholder="Startzeit" my-label="Startzeit" my-model="meetingCtrl.meeting.start"></datetime-picker>
            <datetime-picker my-placeholder="Endzeit" my-label="Endzeit" my-model="meetingCtrl.meeting.end"></datetime-picker>
            <!--
            <location-picker my-model="meetingCtrl.meeting.location" my-type="meeting"></location-picker>
            -->
            <label for="location">Ort:</label>
            <input id="location" required="required" type="text" ng-model="meetingCtrl.meeting.location" placeholder="Ort auswählen/eingeben"
                   typeahead="address for address in meetingCtrl.getLocation($viewValue)" typeahead-min-length="3" class="form-control">
            <br>
            <button type="button" class="form-control" ng-click="meetingCtrl.submitForm()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Sitzung erstellen
            </button>
        </form>
	</div>
	</body>
</html>
